style.css>header
imageC:\Users\KELVIN\Desktop\Max\maxx.jpeg

{margin: auto;
padding: auto;
box-sizing: border-box;
}

body  {
    font-family: 'Courier New', Courier, monospace;

}

header{background-image:C:\Users\KELVIN\Desktop\Max\maxx.jpeg ;
}
<link rel="stylesheet" href="#"work>